.nav {
    width: 100%;
    margin-bottom: 20px;
}
.nav-item:hover {
    background-color: #ddd;
    text-decoration: none;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: var(--red);
}

.nav-tabs {
    --bs-nav-tabs-link-active-bg: var(--grey); 
    --bs-nav-tabs-link-active-color: white;
   
}

.currentlyLoggedIn {
    display: flex;
    align-self: flex-end;
    margin-right: 10px;
}

h6 {
    font-size: 12px;
}


