body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: var(--red);
    border-bottom-color: var(--red);
    border-top-color: var(--red);
    border-left-color: var(--red);
    border-right-color: var(--red);
    margin: 10px;
}

.btn-primary {
    background-color: var(--red);
}

.btn-primary:hover {
    background-color: var(--grey);
    border-right-color: var(--grey);
    border-left-color: var(--grey);
    border-top-color: var(--grey);
    border-bottom-color: var(--grey);
}

h3, h2 {
    margin: 25px;
}
